.main-home{
    width:100%;
    height:100vh;
    background-image: url('../images/products/banner-3.png');
    background-position:center;
    background-size:cover;
    display:grid;
    grid-template-columns: repeat(1,1fr);
    align-items:center;
    padding-right:10px ;
    padding-left: 10px;
}

.main-text h5{
    color:#EE1c47;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
}
.main-text h1{
    color:#000;
    font-size: 65px;
    text-transform: capitalize;
    line-height: 1.1;
    font-weight: 600;
    margin:6px 0 10px
    
}

.main-text p{
    color:#333c56;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px;

}



.main-btn{
    display:inline-block;
    color:#111;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    border:2px solid #111;
    padding:12px 25px;
    transition: all .42s ease;

}

.main-btn:hover{
    background-color:#000;
    color:#fff;

}
.main-btn i{
    vertical-align: middle;
}


.down-arrow{
    position:absolute;
    top:85%;
    right:11%;
}


.down i{
    font-size: 30px;
    color:#2c2c2c;
    border:2px solid #2c2c2c;
    border-radius: 50px;
    padding: 10px 10px;

}
.down i:hover{
    background-color:#000;
    color:#fff;
    transition: all .42s ease;
}

/* trending section css  */

.center-text h2{
    color:#111;
    font-size:28px;
    text-transform: capitalize;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
.center-text span{
    color:rgb(243, 16, 16);
}


.products{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(256px,auto));
    gap:2rem;
    padding-left: 10px;
    padding-right: 10px;
}

.row{
    position:relative;
    transition: all 0.40s;
}


.row img{
    width:100%;
    height: auto;
    transition: all 0.40s;
}

.row img:hover{
    transform: scale(0.9);
}



.product-text h5{
    position: absolute;
    top:13px;
    left:13px;
    color:#fff;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    background-color:#27b737;
    padding:3px 10px;
    border-radius:2px;
}

.heart-icon {
    position:absolute;
    right: 0;
    font-size: 20px;
}

.heart-icon:hover{
    color:#EE1c47;
}


.rating i{
    color:#ff8c00;
    font-size: 18px;
}
.price h4{
    color:#111;
    font-size:16px;
    text-transform: capitalize;
    font-weight: 400;
}


.price p{
    color: #151515;
    font-size: 14px;
    font-weight: 600;
}


.client-reviews{
    background-color:#f3f4f6;

}


.reviews{
    text-align: center;

}


.reviews h3{
    color:#111;
    font-size: 25px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 500;
}

.reviews img{
    width:100px;
    height:auto;
    border-radius:50px;
    margin: 10px 0;
}


.reviews p{
    color:#707070;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 10px;
}


.reviews h2{
    font-size: 22px;
    color:#000;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 2px;
}

/* update section text - css  */
.up-center-text h2{
    text-align: center;
    color:#111;
    font-size: 25px;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 20px;
    
}

.cart img{
    width:380px;
    height: auto;
    border-radius:7px;

}


.update-cart{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(380px,auto));
    gap:1rem;
    padding-right: 10px;
    padding-left: 10px;
}

.cart h5{
    color:#636872;
    font-size:14px;
    text-transform: capitalize;
    font-weight: 500;
}

.cart h4{
    color:#111;
    font-size:20px;
    font-weight: 600;
}


.cart p{
    color:#707070;
    font-size: 15px;
    max-width: 380px;
    line-height: 25px;
    margin-bottom: 12px;
     
}


.cart h6{
    color:#111;
    font-size:15px;
    font-weight: 500;
    padding-bottom: 20px;
}

.end-text{
    background-color:#edfff1;
    text-align: center;
    padding:20px;

}

.end-text p{
    color:#111;
    text-transform: capitalize;
}






/* login styles */


.container-login{
    width:100%;
    height:90vh;
    background-color:#edfff1;
}

.form-box{
    width:90%;
    max-width: 450px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: #81ab8b;
    padding:50px 60px 70px;
    text-align: center;
}

.form-box h1{
    font-size: 30px;
    margin-bottom: 60px;
    color:#a02180;
    position:relative;
}

.form-box h1::after{
    content:'';
    width:30px;
    height:4px;
    border-radius:3px;
    background:#c7b9dd;
    position:absolute;
    bottom: -12px;
    left:50%;
    transform: translate(-50%);
}

.input-field{
    background:#eaeaea;
    margin: 15px 0;
    border-radius:3px;
    display:flex;
    align-items:center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}

input{
    width:100%;
    background:transparent;
    border:0;
    outline: 0;
    padding:18px 15px;
}
.input-field i{
    margin-left: 15px;
    color:#999;
}
form p{
    text-align:left;
    padding:5px;
    font-size: 17px;
    display: none;
    
}
form #con-btn{
    display:flex;
}

form p a{
    text-decoration:none;
    color:#3c00a0;

}

.btn-field-login{
    width:100%;
    display: flex;
    justify-content: space-between;
}
.btn-field-login button{
    flex-basis: 48%;
    background: #3c00a0;
    color:#fff;
    height:40px;
    border-radius:20px;
    border:0;
    outline:0;
    cursor: pointer;
    transition: background  1s;
}

.input-group{
    height:280px;
}

.btn-field-login button.disable{
    background: #eaeaea;
    color:#555;
}



















