<!DOCTYPE html>
<html lang="en">
<head>
    {%extends 'store/base.html' %}
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    {% block content %}
    <div class="container-login">
        <div class="form-box">
            <h1 id="title">Login</h1>
             <form  method="post" >    <!-- action="{% url 'store' %}"      this not suppose to redirect   backed pythen have to redirect  -->
                {% csrf_token %}  
                <div class="input-group">

                    <div class="input-field">
                        <i class='bx bx-envelope' ></i>
                        <input type="text"placeholder='Email'  id="email" name="email">
                    </div>

                    <div class="input-field">
                        <i class='bx bx-lock-alt' ></i>
                        <input type="password"placeholder='Password'  id="password" name="password">
                    </div>
                    <p class="forgotPass"> <a href="#">Forgot Password </a></p>
                </div>
                <div class="btn-field-login" >
                     
                    <!-- <button type="button" id="signupBtn" >Sign up</button>  -->
                    <button type="submit">Login</button>
                </div>
            </form>

        </div>
    </div>
    {% endblock %}
</body>
</html>
