<!DOCTYPE html>
<html lang="en">
<head>
    {%extends 'store/base.html' %}
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    {% block content %}
    <div class="container-login">
        <div class="form-box">
            <h1 id="title">Sign Up</h1>    <!--action="{% url 'store' %}"      this not suppose to redirect   backed pythen have to redirect -->
            <form  method="post">
                {% csrf_token %}  
                <div class="input-group">
                    <div class="input-field" id="nameField">
                        <i class='bx bx-user'></i>
                        
                        <input type="text"placeholder='Username' id="username" name="username">
                    </div>

                    <div class="input-field">
                        <i class='bx bx-envelope' ></i>
                        <input type="email"placeholder='Email'  id="email" name="email">
                    </div>

                    <div class="input-field">
                        <i class='bx bx-lock-alt' ></i>
                        <input type="password"placeholder='Password'  id="password" name="password">
                    </div>
                    <div class="input-field" id="con-btn">
                        <i class='bx bx-lock-alt' ></i>
                        <input type="password"placeholder='Conform Password'  id="c-password" name="cpassword">
                    </div>
                    <p class="forgotPass"> <a href="#">Forgot Password </a></p>
                </div>
                <div class="btn-field-login" >    
                    <button type="submit">Sign up</button>
                    <!-- <button type="button" id="signinBtn" class="disable">Sign in</button> -->
                </div>
            </form>

        </div>
    </div>
    {% endblock %}
</body>
</html>


