<!DOCTYPE html>
<html lang="en">
<head>
    {%extends 'store/base.html' %}
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% block content %}
    <form id="signupForm">
        <h2>Sign Up</h2>
        {% csrf_token %}
        <input type="text" id="username" placeholder="Username" required>
        <input type="password" id="password" placeholder="Password" required>
        <button type="submit">Sign Up</button>
    </form>
    <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
    <script src="{% static 'js/signup.js' %}"></script>
    {% endblock content%}
</body>
</html>
