<!DOCTYPE html>
<html lang="en">
<head>
    {%extends 'store/base.html' %}
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% block content %}
        <section class="main-home">
            <div class="main-text">
                <h5>Winter Collection</h5>
                <h1>New Winter <br>  Collections 2023</h1>
                <p>There's nothing like Trend</p>


                <a href="#" class="main-btn">Shop Now <i class='bx bx-right-arrow-alt'></i></a>
            </div>



            <div class="down-arrow">
                <a href="#trending" class="down"><i class='bx bx-down-arrow-alt'></i></a>
            </div>

        </section>


        <!-- trending-product-section -->
        <section class="trending-product" id="trending">
            <div class="center-text">
                <h2>Our Trending <span>Products</span></h2>
            </div>

            <div class="products">
                <div class="row">
                    <a href="{% url  'product_info' %}"><img src="{%static 'images/products/1.jpg' %}" alt="Product_1"></a>
                    <div class="product-text">
                        <h5>Sale</h5>
                    </div>
                    <div class="heart-icon">
                        <i class='bx bx-heart' ></i>
                    </div>
                    <div class="rating">
                        <i class='bx bx-star' ></i>
                        <i class='bx bx-star' ></i>
                        <i class='bx bx-star' ></i>
                        <i class='bx bx-star' ></i>
                        <i class='bx bxs-star-half' ></i>
                    </div>
                    <div class="price">
                        <h4>Full Casual</h4>
                        <p>$99 - $150</p>
                    </div>    
                </div>
            <!-- new section are looped here -->

                <div class="row">
                    <img src="{%static 'images/products/2.jpg' %}" alt="Product_1">
                    <div class="product-text">
                        <h5>Sale</h5>
                    </div>
                    <div class="heart-icon">
                        <i class='bx bx-heart' ></i>
                    </div>
                    <div class="rating">
                        <i class='bx bx-star' ></i>
                        <i class='bx bx-star' ></i>
                        <i class='bx bx-star' ></i>
                        <i class='bx bx-star' ></i>
                        <i class='bx bxs-star-half' ></i>
                    </div>
                    <div class="price">
                        <h4>Full Casual</h4>
                        <p>$99 - $150</p>
                    </div>    
                </div>

                <div class="row">
                    <img src="{%static 'images/products/3.jpg' %}" alt="Product_1">
                    <div class="product-text">
                        <h5>Hot</h5>
                    </div>
                    <div class="heart-icon">
                        <i class='bx bx-heart' ></i>
                    </div>
                    <div class="rating">
                        <i class='bx bx-star' ></i>
                        <i class='bx bx-star' ></i>
                        <i class='bx bx-star' ></i>
                        <i class='bx bxs-star-half' ></i>
                    </div>
                    <div class="price">
                        <h4>Half Play</h4>
                        <p>$56 - $150</p>
                    </div>    
                </div>

                <div class="row">
                    <img src="{%static 'images/products/4.jpg' %}" alt="Product_1">
                    <div class="product-text">
                        <h5>Best Choise</h5>
                    </div>
                    <div class="heart-icon">
                        <i class='bx bx-heart' ></i>
                    </div>
                    <div class="rating">
                        <i class='bx bx-star' ></i>
                        <i class='bx bx-star' ></i>
                        <i class='bx bx-star' ></i>
                        <i class='bx bx-star' ></i>
                        <i class='bx bxs-star-half' ></i>
                    </div>
                    <div class="price">
                        <h4>Runner</h4>
                        <p>$99 - $150</p>
                    </div>    
                </div>

                <div class="row">
                    <img src="{%static 'images/products/5.jpg' %}" alt="Product_1">
                    <div class="product-text">
                        <h5>Sale</h5>
                    </div>
                    <div class="heart-icon">
                        <i class='bx bx-heart' ></i>
                    </div>
                    <div class="rating">
                        <i class='bx bx-star' ></i>
                        <i class='bx bx-star' ></i>
                        <i class='bx bx-star' ></i>
                        <i class='bx bx-star' ></i>
                        <i class='bx bxs-star-half' ></i>
                    </div>
                    <div class="price">
                        <h4>Cooler</h4>
                        <p>$99 - $150</p>
                    </div>    
                </div>

                <div class="row">
                    <img src="{%static 'images/products/6.jpg' %}" alt="Product_1">
                    <div class="product-text">
                        <h5>Best Choise</h5>
                    </div>
                    <div class="heart-icon">
                        <i class='bx bx-heart' ></i>
                    </div>
                    <div class="rating">
                        <i class='bx bx-star' ></i>
                        <i class='bx bx-star' ></i>
                        <i class='bx bx-star' ></i>
                        <i class='bx bx-star' ></i>
                        <i class='bx bxs-star-half' ></i>
                    </div>
                    <div class="price">
                        <h4>Fasion Cooler</h4>
                        <p>$99 - $150</p>
                    </div>    
                </div>

                <div class="row">
                    <img src="{%static 'images/products/7.jpg' %}" alt="Product_1">
                    <div class="product-text">
                        <h5>Sale</h5>
                    </div>
                    <div class="heart-icon">
                        <i class='bx bx-heart' ></i>
                    </div>
                    <div class="rating">
                        <i class='bx bx-star' ></i>
                        <i class='bx bx-star' ></i>
                        <i class='bx bx-star' ></i>
                        <i class='bx bx-star' ></i>
                        <i class='bx bxs-star-half' ></i>
                    </div>
                    <div class="price">
                        <h4>Casual</h4>
                        <p>$99 - $150</p>
                    </div>    
                </div>

                <div class="row">
                    <img src="{%static 'images/products/8.jpg' %}" alt="Product_1">
                    <div class="product-text">
                        <h5>Sale</h5>
                    </div>
                    <div class="heart-icon">
                        <i class='bx bx-heart' ></i>
                    </div>
                    <div class="rating">
                        <i class='bx bx-star' ></i>
                        <i class='bx bx-star' ></i>
                        <i class='bx bx-star' ></i>
                        <i class='bx bx-star' ></i>
                        <i class='bx bxs-star-half' ></i>
                    </div>
                    <div class="price">
                        <h4>Color Coller</h4>
                        <p>$15 - $250</p>
                    </div>    
                </div>




                <!--  get the image from  backend-->
                <div class="row">
                    {% for product in products %}
                    <img class="thumbnail" src="{{ product.imageURL }}" alt="item">
                    <!-- <img class="thumbnail" src="{{product.imageURL}}" alt="item">
                    <img class="thumbnail" src="{{product.imageURL}}" alt="item">
                    <img class="thumbnail" src="{{product.imageURL}}" alt="item">
                    <img class="thumbnail" src="{{product.imageURL}}" alt="item">
                    <img class="thumbnail" src="{{product.imageURL}}" alt="item"> -->
                    <div class="product-text">
                        <h5>Sale</h5>
                    </div>
                    <div class="heart-icon">
                        <i class='bx bx-heart' ></i>
                    </div>
                    <div class="rating">
                        <i class='bx bx-star' ></i>
                        <i class='bx bx-star' ></i>
                        <i class='bx bx-star' ></i>
                        <i class='bx bx-star' ></i>
                        <i class='bx bxs-star-half' ></i>
                    </div>
                    <div class="price">
                        <h4> {{product.name}} </h4>
                        <p>${{product.price|floatformat:2}}</p>
                    </div>
                    {% endfor %}
                </div>

            </div>

        </section>




        <!-- client review section -->

        <section class="client-reviews">
            <div class="reviews">
                <h3>Client Reviews</h3>
                <img src="{%static 'images/products/hari_1.jpg' %}" alt="Client.jpg">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit excepturi 
                    quod ducimus suscipit quos, nihil recusandae provident dignissimos <br>
                    consectetur id, perferendis earum, amet magnam adipisci praesentium 
                    deserunt. Alias, aut laudantium?</p>
                <h2>Harikrishnan</h2>
                <p>CEO of Termic</p>
            </div>



        </section>

        <!-- update-news-section -->

        <section class="update-news">
            <div class="up-center-text">
                <h2>New Updates</h2>
            </div>

            <div class="update-cart">
                <div class="cart">
                    <img src="{%static 'images/products/bl-1.png' %}" alt="">
                    <h5>26 Jan 2023</h5>
                    <h4>Let's Star teh work delever on this Summer</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, ipsam, itaque 
                        delectus minus cum et beatae eveniet eos necessitatibus porro libero esse
                         distinctio, ad saepe praesentium repellendus dignissimos vero est.</p>
                    <h6>Continue Reading</h6>
                </div>
                <div class="cart">
                    <img src="{%static 'images/products/bl-2.png' %}" alt="">
                    <h5>26 Jan 2023</h5>
                    <h4>Let's Star teh work delever on this Summer</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, ipsam, itaque 
                        delectus minus cum et beatae eveniet eos necessitatibus porro libero esse
                         distinctio, ad saepe praesentium repellendus dignissimos vero est.</p>
                    <h6>Continue Reading</h6>
                </div>
                <div class="cart">
                    <img src="{%static 'images/products/bl-3.png' %}" alt="">
                    <h5>26 Jan 2023</h5>
                    <h4>Let's Star teh work delever on this Summer</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, ipsam, itaque 
                        delectus minus cum et beatae eveniet eos necessitatibus porro libero esse
                         distinctio, ad saepe praesentium repellendus dignissimos vero est.</p>
                    <h6>Continue Reading</h6>
                </div>
            </div>

        </section>

        <hr>
        <section class="contact">
            <div class="contact-info">
                <div class="first-info">
                    <img src="{%static 'images/base/logo_1.png' %}" alt="">
                    <p>6/203 Kakker, Kadanadu Village, <br> Ooty, The Nilgris, TamilNadu,India  </p>
                    <p>0423-2957710</p>
                    <p>help@termic.com</p>
    
                    <div class="social-icon">
                        <a href="#"><i class='bx bxl-facebook-circle' ></i></a>
                        <a href="#"><i class='bx bxl-twitter' ></i></a>
                        <a href="#"><i class='bx bxl-instagram' ></i></a>
                        <a href="#"><i class='bx bxl-youtube' ></i></a>
                        <a href="#"><i class='bx bxl-linkedin-square' ></i></a>
                    </div>           
                </div>
    
                <div class="second-info">
                    <h4>Support</h4>
                    <p>Contact us</p>
                    <p>About us Page</p>
                    <p>Size guide</p>
                    <p>Shopping And Returns</p>
                    <p>Privacy</p>
                </div>
    
                <div class="third-info">
                    <h4>Shop</h4>
                    <p>Paintings</p>
                    <p>Collactables</p>
                    <p>Digital Products</p>
                    <p>Decors</p>
                    <p>Hand Crafts</p>
                </div>
    
                <div class="fourth-info">
                    <h4>Company</h4>
                    <p>About</p>
                    <p>Blog</p>
                    <p>Affiliate</p>
                    <p>Login</p>
                </div>
    
                <div class="five">
                    <h4>Subscribe</h4>
                    <p>Daily</p>
                    <p>lorem</p>
                    <p>Hari</p>
                </div>
    
            </div>
    
        </section>
    
    
    
        <div class="end-text">
            <p>Copyright © @2023. All RIghts Reserved</p>
        </div>
    



    {% endblock content %}
</body>
</html>